#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-30b60206],h2[data-v-30b60206]{font-weight:400}ul[data-v-30b60206]{list-style-type:none;padding:0}li[data-v-30b60206]{display:inline-block;margin:0 10px}a[data-v-30b60206]{color:#42b983}
/*# sourceMappingURL=app.2caa0fbbaf6d3274fd32562a4e0cc7d5.css.map */